 /*global rules */
body {
    /*border: 1px dashed black;*/
    padding: 0px;
    background-color: #fdfdfd;
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "PT Serif";
    font-weight: 400;
    margin: 0px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    /*background-color: hsla(0,0%,50%,0.06);*/
}

.main, .footer, .header {
    margin-left: auto;
    margin-right: auto;
}

/* disqus_thread */

.disqus_thread {
    padding-left: 20px;
    min-height: 400px;
    padding-right: 20px;
}


/* Fonts */ 

@font-face {
  font-family: SFUIText;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/SF-UI-Text-Light.otf");
}

@font-face {
  font-family: SFUIText;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/SF-UI-Text-Regular.otf");
}

@font-face {
  font-family: SFUIText;
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/SF-UI-Text-Medium.otf");
}

@font-face {
  font-family: SFUIText;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: 'PT Serif';
    src: url('assets/fonts/PTF55F_W.eot');
    src:
         url('assets/fonts/PTF55F_W.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/PTF55F_W.woff') format('woff'),
         url('assets/fonts/PTF55F_W.ttf') format('truetype'),
         url('assets/fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Header styles */
.header {
    /*height: 70px;*/
    padding-top: 60px;
}
    .header__logo {
    }
    .header__title {
        font-size: 20px;
        padding-left: 4px;
        color: #888888;
    }
    .header__goback:before {
        clear: both;
    }
    .header:after, .header:before {
        display: table;
    }
    .header:after {
        clear: both;
    }

/* Nav */
.nav {
    padding-top: 35px;
    text-align: left;
}
    .nav > a {
        text-decoration: none;
        font-size: 20px;
        line-height: 28px;
        color: #5ea7fd;
    }
/*    .nav > a:link {
        text-decoration: none;
        color: #5ea7fd;
    }
    .nav > a:hover {
        text-decoration: none;
        color: #5ea7fd;
    } 
    
    .nav > a:visited {
        text-decoration: none;
        color: #5ea7fd;
    }

    .nav > a:active {
        color: #5ea7fd;
        text-decoration: none;
    }
*/

/* Main styles */
.main {

}

/* Article styles */
.article {
    padding-top: 43px;
    /*padding-right: 60px;*/
}
.article:after {
    clear: both;
}
    .article__header {
        padding-bottom: 37px;

    }
    .article__title {
        font-family: SFUIText;
        color: #000000;
        font-size: 52px;
        font-weight: 700;
        text-align: left;
        display: inline-block;
        margin: 0px;
        padding-bottom: 12px;
        /*padding-top: 15px;*/
        letter-spacing: -3.47px;
    }
    .article__title:after {
        clear: both;
    }
    .article__date {
        font-size: 20px;   
        color: #888888;
    }
    .article__content {
        /*font-size: 20px;*/
        /*padding-right: 71px;*/
        max-width: 774px;
        font-family: PTSerif;
        color: #000000;
        font-size: 22px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 34px; /* Приближение из-за подстановки шрифтов */
        text-align: left;
    }

    .content__img {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding-top: 15px;
        max-width: 100%;
    }

    .content__header {
        font-family: SFUIText;
        color:  #000000;
        font-size: 32px;/* Приближение из-за подстановки шрифтов */
        padding-top: 32px;
        font-weight: 700;
        text-align: left;        
    }
    .content__img-subtitle {
        font-family: SFUIText;
        position: relative;
        color: #8e9599;
        font-size: 16px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 23px; /* Приближение из-за подстановки шрифтов */
    }

    .content__quote {
        padding-top: 32px;
        padding-bottom: 42px;
    }
    .quote {
        border-left: 3px solid black;
        position: relative;
    }
/*    .content__quote:before {
        content: "";
        clear: both;
    }
    .content__quote:after {
        clear: both;
        content: "";
    }
*/
        .quote__img {
            left: 36px;
            position: absolute;
            top: 5px;
        }
        .quote__content {
            left: 120px;
            position: relative;
            padding-right: 140px;
            font-family: PTSerif;
            color: #8e9599;
            /*max-width: 100%;*/
            font-size: 18px; /* Приближение из-за подстановки шрифтов */
            font-style: italic;
            line-height: 30px; /* Приближение из-за подстановки шрифтов */
            text-align: left;            
        }
        .quote__footer {
            padding-top: 22px;
            padding-left: 123px;
            font-family: SFUIText;
            color: #000000;
            font-size: 16px; /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 23px; /* Приближение из-за подстановки шрифтов */
        }

/* Underlined anchor */
.underlined_link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    padding-bottom: 1px;
    border-bottom: 0px solid #ABAFB8;
    transition: border-color 2s cubic-bezier(0.23, 1, 0.32, 1),
                color 2.5s cubic-bezier(0.23, 1, 0.32, 1);

}
    .underlined_link:visited {
        color: #888888;
        border-color: #ABAFB8;
    }
    .underlined_link--highlighted:visited, .underlined_link--not_visited_link:visited {
        color: inherit;
    }

    .underlined_link--highlighted {
        color: inherit;
        border-bottom-width: 1px;
        border-color: #ABAFB8;
    }

    .underlined_link:hover {
        color: #0A3FB4;
        border-bottom-width: 1px;
        border-color: #0A3FB4;
    }





/* Preview article styles */
.preview_article {
    padding-top: 115px;
    /*padding-bottom: 20px;*/
}
.preview_article:after {
    clear: both;
}
    .preview_article__header {

    }
    .preview_article__date {
        font-size: 16px;   
        color: #888888;
    }
    .preview_article__title {
        font-family: SFUIText;
        color: #000000;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        display: inline-block;
        margin: 0px;
        padding-top: 15px;
        letter-spacing: -1.4px;
    }
    .preview_article__content {
        font-size: 20px;
        padding-top: 24px;
    }
    .preview_article__footer {
        padding-top: 18px;

    }
        .preview_article__footer_comments_count {
            font-size: 16px;
            float: left;
            letter-spacing: 0.1px;
            color: #8d969a;
        }

/* Footer styles */
.footer {
    padding-top: 102px;
    padding-left: 45px;
    padding-bottom: 77px;
    height: 200px;
}
    .footer > h3 {
        font-weight: normal;
    }
    .footer__item {
        font-size: 16px;
        color: #888888;
    }
    .footer__logo_ag {
        padding-right: 50px;
        padding-top: 25px;
        float: left;
    }
    .footer__logo_aic {
        padding-top: 55px;
    }

/* Display specific rules */

@media(min-width: 891px) {
    .container {
        width: 890px;
    }

    .main, .footer, .nav {
        padding-left: 120px;
        padding-right: 120px;
    }

    .header {
        padding-top: 92px;
        padding-left: 20px;
        padding-bottom: 35px;
    }
        .header__logo {
            float: left;
            padding-right: 60px;
        }
        .header__title {
            margin: 0px;
            padding-top: 7px;
            float: left;
        }
    .footer {
        padding-top: 80px;
    }
}

@media(min-width: 500px) and (max-width: 890px) {
    /** {border: 1px dashed yellow;}*/
    @media(min-width: 500px) {
        .container {
            width: 100%;
        }
        .quote__content {
            /*max-wid*/th: 200px;
        }

    } 
    
    @media(min-width: 680px) {
        .container {
            width: 634px;
        }
        .quote__content {
            /*max-width: 500px;*/
        }
    } 

    .nav {
        /*padding-top: 75px;*/
    }

    /* Article styles */
    .article {
    } 
        .article__header {
        }
        .article__title {
            font-size: 30px;
            letter-spacing: -0.8px;
            padding-bottom: 25px;
        }
        .article__date {
        }
        .article__content {
        }

        .content__img {
        }
        .content__header {
        }
        .content__img-subtitle {
        }
        .content__quote {
        }
            .quote__img {
            }
            .quote__content {
            }
            .quote__footer {
            }


    .main, .footer, .header, .nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        padding-top: 92px;
    }
        .header__title {
            padding-top: 9px;
            padding-bottom: 40px;
        }

    .article__content {
        max-width: 634px;
        font-size: 22px;
    }
/*    .content__img {
        max-width: 100%;
    }
*/    .content__quote {
    }
        .quote__img {
        }


    .preview_article {
        padding-top: 80px;
        padding-bottom: 33px;
    }
        .preview_article__title {
            letter-spacing: -0.8px;
        }

}


@media(min-width: 0px) and (max-width: 500px) {
    /** {border: 1px dashed yellow;}*/
    .container {
        width: 100%;
    }

    .main, .footer, .header, .nav {
        padding-left: 21px;
        padding-right: 21px;
    }

    .header {
        padding-top: 30px;
        padding-bottom: 44px;
    }
        .header__title {
            padding-top: 0px;
            position: relative;
            left: 3px;
            top: 9px;
            font-size: 17px;
        }

    .nav {
        padding-top: 8px;
    }
    .nav > a {
        font-size: 16px;
    }


    /* Article styles */
    .article {
        padding-top: 20px;
    } 
        .article__header {
        }
        .article__title {
            font-size: 24px;
            letter-spacing: -0.6px;
        }
        .article__date {
            font-size: 16px;
        }
        .article__content {
            font-size: 17px;
            line-height: 25px;
        }

/*        .content__img {
            max-width: 300px;
        }
*/        .content__header {
            font-size: 17px;

        }
        .content__img-subtitle {
            display: none;
        }
        .content__quote {
        }
            .quote__img {
                padding-top: 25px;
                left: 26px;
                position: relative;
            }
            .quote__content {
                left: 24px;
                max-width: 100%;
                padding-right: 50px;
                line-height: 30px;
                font-size: 16px;
            }
            .quote__footer {
                font-size: 14px;
                padding-top: 18px;
                padding-left: 24px;
            }


    .preview_article {
        padding-top: 23px;
        padding-bottom: 58px;
    }
        .preview_article__date  {
            font-size: 14px;

        }
        .preview_article__title {
            font-size: 24px;
            letter-spacing: -0.6px;
        }

        .preview_article__content {
            font-size: 17px;
            line-height: 24px;
        }
        .preview_article__footer_comments_count {
            font-size: 14px;
        }

    .footer {
        padding-top: 55px;
        padding-bottom: 0px;
    }
    .footer__logo_ag {
        padding-top: 20px;
        float: left;
    }
    .footer__logo_aic {
        padding-top: 48px;
    }

}


/* Colours */

.black {
    color: black;
}

.grey {
    color: #8d969a;
}

